@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;

  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* color:
#ce9a6b
#a79c9a
#164c56
#ede0d8
#288690
#03060c */

body {
  font-family: "Roboto", Arial, sans-serif; /* Set the font-family to use Roboto */

  font-size: 16px; /* Set the font size for the body element */
}
.content-wrapper {
  padding: 0 15em;
}

main {
  background: linear-gradient(-45deg, #728a92, #e1ced29c);
}
header {
  height: 75%;

  background: linear-gradient(-45deg, #041a21, #423238);
}
.mainheader {
  padding: 1em 11em;
}

/*==========================
toggle navigation
========================*/

button {
  display: none;
  cursor: pointer;
  background: transparent;
  color: #728a92;
  border: none;
  font-size: 20px;
}

.menuSeparator {
  padding: 3em 1em;
  display: flex;
  justify-content: space-between;
}

.title-name {
  font-size: 1.2em;
  color: #728a92;
}

.bigNav {
  text-align: center;
}
.bigNav li {
  display: inline-block;
}
.bigNav li a {
  padding: 0.625em 1.25em;
  text-decoration: none;
  color: #728a92;
}
.phoneNav {
  display: none;
}
.phoneNav li a {
  padding: 0.625em 1.25em;
  text-decoration: none;
  color: #728a92;
}

.bigNav a:hover,
.phoneNav a:hover .title-name:hover {
  color: #913456;
}
@keyframes attention {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}
.main-container {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 4.5em;
}

.content img {
  width: 15em;
  border-radius: 100%;
}
.content {
  background: linear-gradient(-10deg, #728a92, #e1ced29c);

  border-radius: 10px;
  text-align: center;
  padding: 4em 2em 2em 2em;
}

.text h1 {
  color: #041a21;
  padding-bottom: 0.1em;
  font-size: 2.5em;
}
.text p {
  padding-bottom: 1em;
  font-size: 1.5em;
}

.text a {
  color: #041a21;
  background: linear-gradient(
    -10deg,
    rgb(114, 138, 146),
    rgba(225, 206, 210, 0.612)
  );
  padding: 0.6em;
  border-radius: 0.5em;
}
.text a:nth-child(4) {
  color: #f9feff;
  background-color: #041a21;
  font-size: 1.1em;
  padding: 0.6em 1.5em;
}

.icon {
  font-size: 1.2em;
  text-align: center;

  margin-bottom: 2em;
}
header {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ******************ABOUT******************************** */

.about h2 {
  color: #041a21;
  font-size: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}

.about p {
  font-size: 1.4em;
  font-weight: 300;
  padding-top: 1.5em;
  text-align: center;
}

.aboutImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 1em;
  max-width: 20em;
}

.about p a {
  display: block;
  margin: 0 auto;
}

/* ******************PROJECTS******************************** */
.projects {
  text-align: center;
}
.projects h2 {
  color: #041a21;
  font-size: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}
.projects h3 {
  color: #041a21;
  font-size: 1.6em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  text-align: center;
}
.projects h4 {
  color: #041a21;
  font-size: 1.3em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: center;
  font-weight: 500;
}
.projects p {
  font-size: 1.4em;
  font-weight: 300;
}

.projects img {
  border-radius: 0.5em;
}
.livePage {
  margin-top: 2em;
}
.livePage p a {
  background: black;
  border-radius: 0.5em;
  padding: 0.2em 1.2em;
  color: white;
  font-size: 0.95em;
  font-weight: 500;
}
.livePage p a:hover {
  /* background: linear-gradient(-45deg, #5b6e75, #fc690e); */
  background-color: rgba(255, 255, 255, 0.573);
  color: black;
}

.project-flex-container {
  display: flex;
  padding-bottom: 2em;
  gap: 10px;
  align-items: center;
}

.project-flex-container img {
  flex: 30%;
}
.project-flex-contents {
  flex: 30%;
}
.p-content-wrapper {
  padding: 0 7em;
}

.project-img {
  width: 40%;
}

/* ******************EDUCATION******************************** */

.education h2 {
  color: #041a21;
  font-size: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.education h3 {
  color: #041a21;
  font-size: 1.8em;
  font-weight: 500;
}

.education p {
  font-size: 1.4em;
  font-weight: 300;
}

.education {
  text-align: center;
}

.break {
  padding-bottom: 3em;
}

.border {
  padding: 2.5em;
  border: 0.5em #e1ced29c solid;
  border-radius: 2em;
  margin-bottom: 2em;
}

/* ******************SKILLS******************************** */
.skill-container {
  display: flex;
  justify-content: space-evenly;
  gap: 3em;
  flex-flow: row wrap;
}

.skills h2 {
  color: #041a21;
  font-size: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}
.skills h3 {
  color: #041a21;
  font-size: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1em;
  text-align: center;
}

.skills p {
  color: #041a21;
  font-size: 1.4em;
  padding: 0.5em 0 0.1em;
}

.skill-box {
  text-align: center;
  color: #041a21d0;
}

/* **********************CONTACT********************************************** */

.contact-flexbox {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.contact-section h2 {
  color: #a79c9a;

  font-size: 2em;
  padding-top: 2.5em;
  text-align: center;
  background-color: #041a21d4;
}

.contact-flexbox {
  color: #a79c9a;
  font-size: 1.4em;
  font-weight: 300;
  padding: 3em 0;
  background-color: #041a21d4;
  font-weight: 300;
  gap: 1em;
}

input {
  border-radius: 0.2em;
  height: 3em;
  width: 40em;
  background-color: #041a21;
  color: #f9feff;
}
label {
  display: block;
  padding: 0.1em 0;
}
textarea {
  background-color: #041a21;
  width: 40em;
  height: 15em;
  margin-bottom: 1em;
}

.contact-flexbox ul {
  padding: 4em 2em;

  /* background-color: #423238; */
  background: linear-gradient(-45deg, #03060c82, #423238cf);
  border: 1px solid;
  border-radius: 2em;
}

.contact-btn {
  background-color: #ce996bf1;
  color: #041a21;
  padding: 0.5em 2em;
  font-size: 0.9em;
  border-radius: 0.3em;

  cursor: pointer;
}

.footer {
  padding: 3em 0;
  background: linear-gradient(-10deg, #728a92, #e1ced29c);
  color: #041a21;
  text-align: center;
}
.f-icon {
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 1.5em;
}

.f-icon a {
  color: #f9feff;
  background-color: #041a21e9;
  padding: 0.6em;
  border-radius: 0.5em;
}

/* ***************************FOOTER******************************************** */
.footer {
  padding: 2.5em 0;
  background: linear-gradient(-45deg, #041a21, #423238);
  color: #f9feff;
  text-align: center;
}
.f-icon {
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 1.5em;
}

.f-icon a {
  color: #f9feff;
  background: linear-gradient(-10deg, #728a92, #e1ced29c);

  padding: 0.6em;
  border-radius: 0.5em;
}

/* ******************************************************************** */

/* TABLET VIEW */
@media screen and (max-width: 51.25em) {
  .content-wrapper {
    padding: 0 4em;
  }

  .p-content-wrapper {
    padding: 0 4em;
  }
  .mainheader {
    padding: 1em 5em;
  }

  .project-flex-container {
    display: block;
  }

  .projects h3 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .projects h4 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .projects p {
    padding: 0.6em;
  }

  .project-img {
    margin: 0 auto;
    width: 60%;
  }

  button {
    display: block;
    cursor: pointer;
    background: transparent;
    color: #728a92;
    border: none;
    font-size: 20px;
  }

  .phoneNav {
    display: block;
    padding-left: 73%;
  }
  .phoneNav li {
    display: inline-block;
  }

  .bigNav {
    display: none;
  }
  .phoneNav ul li {
    display: flex;
  }
  .phoneNav ul li a {
    padding: 0.2em 1.25em;
    text-decoration: none;
  }

  /* ******************SKILLS******************************** */

  .skill-container {
    display: flex;
    justify-content: space-evenly;
    gap: 3em;
    flex-flow: row wrap;
  }
}

/* Apply these styles when the viewport is 768px or wider MOBILE VIEW */
@media screen and (max-width: 30em) {
  .content-wrapper {
    padding: 0 1.5em;
  }

  .p-content-wrapper {
    padding: 0 1.5em;
  }
  .project-flex-container {
    display: block;
  }

  /*==========================
toggle navigation
========================*/

  button {
    display: block;
    cursor: pointer;
    background: transparent;
    color: #728a92;
    border: none;
    font-size: 20px;
  }

  .menuSeparator {
    padding: 2em 0em;
    display: flex;
  }

  .title-name {
    font-size: 1em;
    color: #728a92;
  }

  .phoneNav {
    padding-left: 73%;
  }
  .phoneNav li {
    display: inline-block;
  }

  .main-container {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 4.25em;
    padding-left: 2em;
    padding-right: 2em;
  }
  .bigNav {
    display: none;
  }
  .phoneNav ul li {
    display: flex;
  }
  .phoneNav ul li a {
    padding: 0.2em 1.25em;
    text-decoration: none;
  }

  .content img {
    width: 11em;
    border-radius: 100%;
  }
  .content {
    background: linear-gradient(-10deg, #728a92, #e1ced29c);

    border-radius: 10px;
    text-align: center;
    padding: 3em 1.5em 1.5em 1.5em;
  }

  .text h1 {
    color: rgb(4, 26, 33);
    padding-bottom: 0.1em;
    font-size: 2em;
  }
  .text p {
    padding-bottom: 1em;
    font-size: 1.3em;
  }

  .text a {
    color: #041a21;
    background: linear-gradient(
      -10deg,
      rgb(114, 138, 146),
      rgba(225, 206, 210, 0.612)
    );
    padding: 0.6em;
    border-radius: 0.5em;
  }
  .text a:nth-child(4) {
    color: #f9feff;
    background-color: #041a21;
    font-size: 1.1em;
    padding: 0.6em 1.5em;
  }

  .icon {
    font-size: 1.2em;
    text-align: center;

    margin-bottom: 2em;
  }
  header {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .content {
    animation: bounce 2s ease-in-out infinite;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  /* ******************ABOUT******************************** */

  .about p {
    font-size: 1.4em;
    font-weight: 300;
    padding: 1.5em;
  }

  /* ******************PROJECTS******************************** */
  .projects h2 {
    color: #041a21;
    font-size: 2em;

    text-align: center;
  }
  .projects h3 {
    color: #041a21;
    font-size: 1.6em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
  }
  .projects h4 {
    color: #041a21;
    font-size: 1.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    font-weight: 500;
  }

  .projects p {
    font-size: 1.4em;
    font-weight: 300;
    padding: 0.6em;
  }

  .livePage {
    margin-top: 0em;
  }

  .livePage p a {
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.2em 0.5em;
  }

  .project-img {
    margin: 0 auto;
    width: 85%;
  }
  /* ******************EDUCATION******************************** */

  .border {
    padding: 2em;
    border: 0.5em #e1ced29c solid;
    border-radius: 2em;
    margin-bottom: 2em;
  }

  /* ******************SKILLS******************************** */
  .skill-container {
    display: flex;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-flow: row wrap;
    padding: 0 1.5em;
  }

  .skills h2 {
    color: #041a21;
    font-size: 2em;

    text-align: center;
  }
  .skills h3 {
    color: #041a21;
    font-size: 1em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    text-align: center;
  }

  .skills p {
    color: #041a21;
    font-size: 1.4em;
    padding: 0.5em 0 0.1em;
  }

  .skill-box {
    text-align: center;
    color: #041a21d0;
  }

  /* **********************CONTACT********************************************** */

  .contact-flexbox {
    display: flex;
    justify-content: center;
    color: #a79c9a;
    font-size: 1.2em;
    font-weight: 300;
    padding: 3em 1.5em;
    background-color: #041a21d4;
    font-weight: 300;
    gap: 1em;
  }

  .contact-section h2 {
    color: #a79c9a;

    font-size: 2em;
    text-align: center;
    background-color: #041a21d4;
  }

  input {
    border-radius: 0.2em;
    height: 3em;
    width: 40em;
    background-color: #041a21;
    color: #f9feff;
  }
  label {
    display: block;
    padding: 0.1em 0;
  }
  textarea {
    background-color: #041a21;
    width: 40em;
    height: 15em;
    margin-bottom: 1em;
  }

  .contact-flexbox ul {
    padding: 4em 1em;

    /* background-color: #423238; */
    background: linear-gradient(-45deg, #03060c82, #423238cf);
    border: 1px solid;
    border-radius: 2em;
  }

  .contact-btn {
    background-color: #ce996bf1;
    color: #041a21;
    padding: 0.5em 2em;
    font-size: 0.9em;
    border-radius: 0.3em;

    cursor: pointer;
  }

  .footer {
    padding: 3em 0;
    background: linear-gradient(-10deg, #728a92, #e1ced29c);
    color: #041a21;
    text-align: center;
  }
  .f-icon {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 1.5em;
  }

  .f-icon a {
    color: #f9feff;
    background-color: #041a21e9;
    padding: 0.6em;
    border-radius: 0.5em;
  }

  /* ***************************FOOTER******************************************** */
  .footer {
    padding: 2.5em 0em;
    background: linear-gradient(-45deg, #041a21, #423238);
    color: #f9feff;
    text-align: center;
  }
  .f-icon {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 1.5em;
  }

  .f-icon a {
    color: #f9feff;
    background: linear-gradient(-10deg, #728a92, #e1ced29c);

    padding: 0.6em;
    border-radius: 0.5em;
  }
}
/* ******************************************************************** */
